

.header_bottom_right_widget_holder {
    padding: 0;
}

.header_bottom {
    padding: 0 25px;
}
header .header_inner_left {
    left: 25px;
}
nav.main_menu>ul>li>a>span:not(.plus){
    padding: 8px 19px;
margin-top: 20px;
}
nav.main_menu>ul>li.active>a>span:not(.plus),
nav.main_menu>ul>li:hover>a>span:not(.plus) 
 {

    
}
header:not(.with_hover_bg_color) nav.main_menu>ul>li:hover>a {
    opacity:1;
}
.title .separator.small, .title .separator.small.left, .title .separator.small.right {
    margin-top: 46px;
    margin-bottom: 3px;
    height: 4px;
}

.catalog-button {
    transition: color .3s ease-in-out;
}